// n is number of stars required
@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

@mixin stealtitle {
  background: -webkit-linear-gradient(white, #38495a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  //background-image: url(./bokeh-photography-720459.jpg);
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "lato", sans-serif;
}

.singleMovie {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  @media (max-width: 767px) {
    width: unset;
    height: unset;
  }
}

h1{
  @include stealtitle(); 
  text-align: center; 
  font-weight: 900;
  font-size: 4vh;
  letter-spacing: 10px;
  margin-top: 2vh;
}

.App {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
    &:hover {
      overflow: visible;
      transform: scale(1.2);
    }
    @media (max-width: 767px) {
      margin: 0;
    }
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: 25vh;
      padding: 20px;
      img {
        flex-shrink: 0;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .star {
    position: absolute;
    right: 15px;
    top: 15px;
    .fa-heart,
    .fa-heart-o {
      color: #d21d14;
      font-size: 30px;
    }
  }
}

.noPic {
  display: none;
}

.displayMovie {
  display: flex;
  flex-direction: column;
  .title {
    a {
      position: absolute;
      left: 1vw;
      top: 1vh;
      .fa-long-arrow-left {
        font-size: 40px;
        color: #abb2b9;
        animation: slide1 1s ease-in-out infinite;
        margin-left: 9px;
      }
    }
    text-align: center;
    color: #abb2b9;
  }
  .movieInfos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    @media (max-width: 767px) {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .poster {
      width: 40vw;
      margin-left: auto;
      @media (max-width: 767px) {
        width: unset;
        margin: auto;
      }
      img {
        height: 80vh;
        position: relative;
        z-index: 5;
      }
    }
    .infos {
      @include stealtitle() width: 40vw;
      margin-top: 10vh;
      min-width: 300px;
      font-weight: 900;
      font-size: 1.05rem;
      margin-right: 5vw;
    }
    .row {
      display: flex;
    }
    .col1 {
      flex: 0.2 1;
      width: max-content;
      @media (max-width: 767px) {
        flex: 0.5 1;
      }
    }
    .col2 {
      flex: 1 1;
    }
  }
}

.title {
  color: #fff;
  font-weight: 300;
  font-size: 3vh;
  letter-spacing: 10px;
  margin-top: -2vh;
  padding-left: 10px;
  @media (max-width: 767px) {
    margin: auto;
  }
  h1 {
    @include stealtitle();
  }
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 100s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, 0);
  }
}
